/*Menu do rodapé*/
footer{
    width: calc(100vw - 30%);
    margin-left: 15%;
    margin-top: 73px;
    background-color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px -3px 6px #00000029;
}
footer nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer nav div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
}

footer nav div p{
    font-size: 15px;
    font-weight: medium;
    text-decoration: none;
}

#ativo{
    color: #3E3E3E;
}

#ativo p{
    color: #000;
}

#desativado{
    color: #A5A5A5;
}

@media (max-width: 800px){
    footer{
        width: 100%;
        margin-left: 0px;
    }
}