.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
    height: 7.875rem;
    margin-right: 0px;
}
.header div{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 70%;
}
.header div p{
    font-size: 17px;
    font-weight: bold;
    margin-right: 40%;
}

@media (max-width:800px){
    .header div p{
        margin-right: 25%;
    }
}